<template name="projectOverview">
<div class="projectOverview">
  {{#each projects}}
  <div class="col-md-3 project">
    <h3>{{name}}</h3>
    <p>
      <a href="https://github.com/byteweaver/{{name}}/" class="btn btn-default">GitHub</a>
      <a href="https://pypi.python.org/pypi/{{name}}/" class="btn btn-default">PyPI</a>
    </p>
    <p>
      <a href="https://www.djangopackages.com/packages/p/{{name}}/" class="btn btn-default">Django Packages</a>
    </p>
    <p><img src="https://pypip.in/v/{{name}}/badge.png"></p>
    <p><img src="https://pypip.in/d/{{name}}/badge.png"></p>
  </div>
  {{/each}}
</div>
</template>
